<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a [routerLink]="['/plays']">Startseite</a></li>
            <li><a [routerLink]="['/play/edit/', playName]">Einstellungen</a></li>
            <li class="active">Neuer Status</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>Neuen Status anlegen</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="name">
            </div>
            <div class="form-group">
                <label for="type">Typ:</label>
                <select class="form-control" name="type" [(ngModel)]="type" (ngModelChange)="onChange($event)">
          <option>DimmerState</option>
          <option>ByteState</option>
        </select>
            </div>
        </form>
    </div>
</div>
<br />
<div *ngIf="isDimmer">
    <div class="row">
        <div class="col-sm-12">
            <label for="brightness">Helligkeit: {{ brightness }}%</label>
            <input type='range' orient='vertical' id='brightness' min='0' max='100' step='1' [(ngModel)]='brightness' style="width: 20px; height: 200px; -webkit-appearance: slider-vertical; writing-mode: bt-lr;">
        </div>
    </div>
    <br />
    <span class="input-group-btn">
    <a class="btn btn-default" (click)="createDimmerObject(name, brightness, type)">Speichern</a>
  </span>
</div>
<div *ngIf="isByte">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Wert:</label>
                    <input type="text" class="form-control" name="value" placeholder="Wert" [(ngModel)]="value">
                </div>
            </form>
        </div>
    </div>
    <br />
    <span class="input-group-btn">
    <a class="btn btn-default" (click)="createByteObject(name, value, type)">Speichern</a>
  </span>
</div>