a {
    color: white;
    text-decoration: none;
}

span {
    font-weight: bold;
    padding-left: 25px;
    font-size: 1.5em;
    color: #00e500;
}

.fixed {
    position: fixed;
    overflow-y: scroll;
    height: 93%;
}
 
.side-list {
  list-style: none;
  font-size: 1.5em;
  padding-left: 0;
}

.side-element {
  padding-left: 25px;
  padding-right: 1em;
}

.side-element a:hover {
    color: #00e500;
    cursor: pointer;
}