body, div {
  font-family: Arial, "Helvetica New", Helvetica, sans-serif;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0;
  padding-left: 0 !important;
  padding-top: 0;
  color: #f2f2f2;
  background-color: #778899;
}

.container-bottom {
  margin-top: 48px;
}

@media screen and (min-width: 768px){
    .navbar {
      padding-right: 60px;
      padding-left: 60px;
  }
}