<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li class="active">Startseite</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>Theaterstück auswählen oder neu anlegen...</h1>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Theaterstück auswählen
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a routerLink = "/play/new">Neu Anlegen</a></li>
        <li role="separator" class="divider"></li>
        <li *ngFor = "let play of plays">
          <a [routerLink] = "['/play/edit/', play]">{{play}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>...oder JSON hier einfügen</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <textarea class="form-control" rows="15" [(ngModel)]="jsonInput"></textarea>
  </div>
</div>
<br />
<button class="btn btn-default" (click)="sendJSON(jsonInput)">Speichern</button>
